:root {
    --mainColor: #ea0000;
    --primaryColor: #94999f;
    --black: #000000;
    --white: white;
    --mainFont: Poppins;
    --primaryFont: Abhaya Libre ExtraBold;
    --secondaryColor: #2a333e;
    --mainShadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
      0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
      0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
      0px 20px 13px rgba(234, 0, 37, 0.05),
      0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
      0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
    --secondaryShadow: 0px 100px 80px rgba(68, 68, 68, 0.1),
      0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259),
      0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407),
      0px 20px 13px rgba(68, 68, 68, 0.05),
      0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593),
      0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  }

  * {
    box-sizing: border-box;
    /* margin: 0; */
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
  }
    /* ================Main=============== */
    .slogan{
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--mainColor);
    margin-bottom: -20px;
}

h1{
 font-weight: 800;
  font-size: 140px;
  letter-spacing: -0.11em;
  color: var(--mainColor);
  font-family: var(--primaryFont);
  margin-top: 10px;
}
@media (max-width: 767px) {
  h1{ 
    font-size: 120px;
  }
}
.p-info{
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 80px;
}
@media (max-width: 767px) {
  .p-info{ 
    font-size: 13px;
  }
}
.main-img{
    z-index: -1;
}
.img-1{
  width: 100%;
}
.left-img{
    margin-top: 100px;
}
.btn-10 , .btn-2 {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    padding: 21px 45px;
    position: relative;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
  }
  .btn-10 {
    background-color: var(--mainColor);
    box-shadow: var(--mainShadow);
  }
  .btn-10::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
  }
  .btn-2::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
  }
  .btn-10::after {
    background-color: var(--mainColor);
    right: -9px;
  }
  .btn-2 {
    background-color: var(--secondaryColor);
    box-shadow: var(--secondaryShadow);
  }
  .btn-2::after {
    background-color: var(--secondaryColor);
    left: -9px;
  }
  .foodTime {
    margin-right: 80px;
  }
  .foodTime div h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-top: 20px;
  }
  .foodTime div p {
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: var(--primaryColor);
  }
  .main-1{
    padding-top: 50px;
  }
  /* ================/Main=============== */
  /* ============products=============== */
  .title{
    text-align: center;
  }
  .title p {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondaryColor);
    margin-top: 150px;
  }
  .title h2 {
  font-weight: 800;
  font-size: 70px;
  letter-spacing: -0.09em;
  color: var(--mainColor);
  font-family: var(--primaryFont);
  }
  .title img {
    top: 18%;
    left: 35%;
    width: 165px;
  }
  .products-items{
    margin-top: 20px;
  }
  .products-item{
    padding-top: 70px;
  }
  .main-btn {
    background-color: var(--mainColor);
    box-shadow: var(--mainShadow);
  }
  .btn-1::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
  }
  .main-btn::after {
    background-color: var(--mainColor);
    right: -9px;
  }
  .btn-1::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
    background-color: var(--mainColor);
    left: -9px;
  }
  .main-btn span {
    margin-left: 17px;
  }

  .btn-1 {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    padding: 12px 25px;
    position: relative;
    margin-right: 10px;
    font-weight: 400;
    /* right:30px; */
  }
  .prod{
 
    width: 303px;
    height: 326px;
    margin: 0 -30px -120px -30px;
  }
  .prod-info-1{
    top:210px;
    text-align: center;
  }
  .prod-info-1 .rating{
  
    width: 77px;
    margin-bottom: 20px;
  }
  .products-item p{
    font-weight: 400;
  font-size: 13px;
  margin: 14px 0;

  }
  .products-item h4 {
    font-weight: 700;
    font-size: 25px;
    color: var(--secondaryColor);
    margin-bottom: 25px;
  }
 /* ============/products=============== */
   /* ============offer=============== */
   .offer{
    margin-top: 200px;
   }
   .offer-images {
    width: 55px;
    margin-right: 16px;
    border-radius: 11px;
    margin-top: 30px;
   }
   .button-img{
    width: 55px;
    margin-right: 16px;
    border-radius: 11px;
   }
   .btn-100 {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    position: relative;
    margin-right: 30px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-right: 40px;
    font-size: 16px;
    background-color: var(--mainColor);
    box-shadow: var(--mainShadow);
  }
  .btn-100::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
    background-color: var(--mainColor);
    right: -9px;
  }
  .basic-2{
  display: flex;
  justify-content: space-evenly;
  background: #ffdad7;
  border: 1.5px solid #fcc7c3;
  border-radius: 60px;
  width: 60%;
  height: 10%;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 11px;
  font-weight: 400;
  margin-bottom: 20px;
  }
  .delivery-img{
    width:90px;
    height: 90px;
    margin-top: -30px;
  }
  .offer-info h2 {
    font-weight: 800;
    font-size: 66px;
    line-height: 56px;
    letter-spacing: -0.06em;
    color: var(--mainColor);
    margin-bottom: 20px;
    font-family: var(--primaryFont);
  }
  .btn-200 {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    position: relative;
    margin-right: 30px;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 16px;
    background-color: var(--secondaryColor);
    box-shadow: var(--secondaryShadow);
    padding: 20px;
  }
  .btn-200::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 100%;
    border-radius: 9px;
    top: 0px;
    transform: skewX(345deg);
    background-color: var(--secondaryColor);
  }
  .dotsGroup{
    position: absolute;
    left: 50px;
    top: 10px;
  
  }
  .fullLeave{
position: absolute;
    top:-30px;
    left:450px;

  }
.decor{
  position: absolute;
top:100px;
    left:-170px;
  }
  .cupCoffee{
    position: absolute;
    top:300px;
    left:180px;
  }
  .right-side{
    padding-top: 40px;
    background-color: #fef2f2;
    border-radius: 30px;
    position: relative;
  }
  @media (max-width: 767px) {
  .left-side{
    text-align: center;
    margin: auto;
  }
  .right-side{
    margin: auto;
  }
  .item-2{
    margin-left: -30px;
    
  }
  .item-3{
    margin-left: -70px;
  }
  .item-4{
    margin-left: -20px;
  }
  .item-5{
    margin-left: -30px;
  }
  .basic-2{
    
    line-height: 60px;

  }
  .delivery-img{
    width:90px;
    height: 90px;
    margin-top: -10px;
  }
  .cupCoffee ,.decor,.fullLeave,.dotsGroup{
    visibility: hidden;
  
  }

  }
  @media (max-width: 991px) {
    .left-side{
      text-align: center;
      margin: auto;
    }
    .right-side{
      margin: auto;
    }
    .item-2{
      margin-left: -30px;
      
    }
    .item-3{
      margin-left: -70px;
    }
    .item-4{
      margin-left: -20px;
    }
    .item-5{
      margin-left: -30px;
    }
    .basic-2{
      width: 300px;
      line-height: 60px;
    }
    .cupCoffee ,.decor,.fullLeave{
      visibility: hidden;
    
    }
  }
  /* ===============================/offer =================================*/
  /* ======================menu===================================== */
  .card{
  background: #ffffff;
  border: 1.3px solid #efefef;
  border-radius: 24px;
  padding: 20px;



  }
  .card-img{
    width: 100%;
    margin-bottom: -130px;
  }
  .card-img-sub{
    padding-top: 40px;
  }
 
  .card-body img{
    margin-bottom: 8px;
  }
  .card-body h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
   
    
  }
  .card-body p {
    font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  }
  .cost {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  .icon-menu {
    color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 6px;
    font-size: 16px;
    padding-top: 4px;
    text-align: center;
  }
  .red {
    background-color: var(--mainColor);
    box-shadow: var(--mainShadow);
  }
  .black {
    background-color: var(--secondaryColor);
    box-shadow: var(--secondaryShadow);
  }
  .seeMenu {
    margin: auto;
    text-align: center;
    margin-top: 70px;
  }
  .seeMenu .btn-100 {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    padding: 13px 26px;
    position: relative;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .seeMenu .btn-100 i {
    background-color: white;
    color: red;
    padding: 8px;
    border-radius: 6px 5px 15px 5px;
    text-align: center;

  }
  .icon-120{
    padding-left: 50px;
  }
  /*=============================== download-section */
  .download-section{
    background-color: #fef2f2;
    margin-top: 100px;
  }
  .mobile-img{
    width: 350px;
  }
  @media (max-width: 767px) {
    .mobile-img{
      width: 350px;
      padding-left: 10px;
      padding-bottom: 0px;
    }
  }
  @media (max-width: 767px) {
    .download-info{
      padding-bottom: 50px;
      }
      
  }
  .download-info{
  padding-top: 90px;
  
  }
  .localStory {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: var(--secondaryColor);
    margin-right: -45px;
    margin-bottom: 50px;
  }
  .download {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--secondaryColor);
  }
  .download-info h3{
    font-weight: 800;
    font-size: 55px;
    line-height: 50px;
    letter-spacing: -0.08em;
    color: var(--mainColor);
    margin-bottom: 25px;
    font-family: var(--primaryFont);
    margin-right: 74px;
  }
 .get img{
  width: 200px;
  margin-top: -40px;
  margin-left: -25px;
 }
 /* ===========download end======================= */
 .red-text span{
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--mainColor);
 }
 .opinion-item h6{
  padding: 5px 0px;

 }
 .opinion-item .small-text{
  margin-top: -10px;
 }
 .opinion-item .rating{
  margin-top: -20px;
 }
 /*----------------Contact----------------------*/
.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.contact .info i:hover {
color: var(--mainColor);
transition:0.6;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #bab3a6;
}

.contact .info .open-hours,
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .php-email-form {
  width: 100%;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: var(--secondaryColor);
  color: white;
}
.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: #fff;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--mainColor);
  box-shadow: var(--mainShadow);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: var(--secondaryColor);
  box-shadow: var(--secondaryShadow);
}


 /* ================================================ */
 #footer {
   background:var(--secondaryColor);
   padding: 0 0 30px 0;
   color: #fff;
   font-size: 14px;
 }
 
 #footer .footer-top {
  background:var(--secondaryColor);
  border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   padding: 60px 0 30px 0;
 }
 
 #footer .footer-top .footer-info {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-info h3 {
   font-size: 24px;
   margin: 0 0 20px 0;
   padding: 2px 0 2px 0;
   line-height: 1;
   font-weight: 300;
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
   color: #fff;
 }
 
 #footer .footer-top .footer-info p {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 0;
   font-family: "Playfair Display", serif;
   color: #fff;
 }
 
 #footer .footer-top .social-links a {
   font-size: 18px;
   display: inline-block;
   background: #ffff;
   color: var(--secondaryColor);
   line-height: 1;
   padding: 8px 0;
   margin-right: 4px;
   border-radius: 50%;
   text-align: center;
   width: 36px;
   height: 36px;
   transition: 0.3s;
 }
 
 #footer .footer-top .social-links a:hover {
   background:var(--mainColor);
   color: #fff;
   text-decoration: none;
 }
 
 #footer .footer-top h4 {
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   position: relative;
   padding-bottom: 12px;
 }
 
 #footer .footer-top .footer-links {
   margin-bottom: 30px;
 }
 
 #footer .footer-top .footer-links ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 #footer .footer-top .footer-links ul i {
   padding-right: 2px;
   color: var(--mainColor);
   font-size: 18px;
   line-height: 1;
 }
 
 #footer .footer-top .footer-links ul li {
   padding: 10px 0;
   display: flex;
   align-items: center;
 }
 
 #footer .footer-top .footer-links ul li:first-child {
   padding-top: 0;
 }
 
 #footer .footer-top .footer-links ul a {
   color: #fff;
   transition: 0.3s;
   display: inline-block;
   line-height: 1;
 }
 
 #footer .footer-top .footer-links ul a:hover {
   color: #fff;
 }
 
 #footer .footer-top .footer-newsletter form {
   margin-top: 30px;
   background: #fff;
   padding: 6px 10px;
   position: relative;
   border-radius: 50px;
   border: 1px solid #fff;
 }
 
 #footer .footer-top .footer-newsletter form input[type=email] {
   border: 0;
   padding: 4px;
   width: calc(100% - 110px);
   background: #fff;
   color: var(--secondaryColor);
 }
 
 #footer .footer-top .footer-newsletter form input[type=submit] {
   position: absolute;
   top: -1px;
   right: -1px;
   bottom: -1px;
   border: 0;
   background: none;
   font-size: 16px;
   padding: 0 20px 2px 20px;
   background: var(--mainColor);
   color: #fff;
   transition: 0.3s;
   border-radius: 50px;
 }
 
 #footer .footer-top .footer-newsletter form input[type=submit]:hover {
   background:var(--secondaryColor);
 }
 
 #footer .copyright {
   text-align: center;
   padding-top: 30px;
 }
 
 #footer .credits {
   padding-top: 10px;
   text-align: center;
   font-size: 13px;
   color: #fff;
 }

